header {
    padding: 1.75em .95em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-violet);
}

.menu {
    display: none;
}
.menu-hamburger-checkbx {
    display: none;
}

.img-menu {
    background-image: url("../../img/bars-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-evenly;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }

    .menu-options {
        display: flex;
        font-size: .85rem;
        font-weight: 700;
    }

    .options-li {
        margin-right: 1em;
    }

    .options-link {
        color: var(--grayish-violet);
    }

    .options-link:hover {
        color: var(--very-dark-violet);
    }
    
    .menu-hamburger {
        display: none;
    }

    .menu-user {
        font-size: .8rem;
        font-weight: 600;
    }

    .user-login {
        margin-right: 1.75em;
        color: var(--grayish-violet);
    }

    .user-login:hover {
        color: var(--very-dark-violet);
    }
}

@media screen and (min-width: 1024px) {
    .logo-header {
        font-size: 2.75rem;
    }

    .menu-options {
        font-size: 1.125rem;
    }

    .menu-user {
        font-size: 1.125rem;
    }
}