.new-url {
    background-image: url("../../img/bg-shorten-mobile.svg");
    background-color: var(--dark-violet);
    background-position: right;
    background-repeat: no-repeat;
    padding: 1em 2em;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: .75em;
}

.input-url {
    box-sizing: border-box;
    width: 100%;
    padding: .5em 1em;
    border: none;
    border-radius: 8px;
    margin-bottom: .5em;
}

.input-error {
    color: var(--red);
    font-size: .85rem;
}

.input-url::placeholder {
    padding-left: 1em;
}

.input-btn {
    width: 100%;
}

.list {
    margin: .85em 0;
    box-sizing: border-box;
}

.url-line {
    display: flex;
    flex-direction: column;
    padding: .75em;
    background-color: var(--white);
    margin-bottom: .75em;
    border-radius: 8px;
}

.url-line a:first-child {
    border-bottom: .1em solid var(--grayish-violet);
}

.long-url {
    padding-bottom: .75em;
    color: var(--dark-violet);
}

.shrt-url {
    padding: .75em 0;
    color: var(--cyan);
}

.copied {
    background-color: var(--dark-violet);
}

@media screen and (min-width: 768px) {
    .new-url {
        flex-direction: row;
        align-items: center;
    }

    .input-url {
        margin-bottom: .75em;
        width: 60%;
    }

    .input-btn {
        width: auto;
    }

    .url-line {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .url-line a:first-child {
        border-bottom: none;
    }

    .long-url {
        padding: .5em 0;
        margin-right: 3.75em;
    }

    .shrt-url {
        padding: .5em 0;
    }
}

@media screen and (min-width: 1024px) {
    .new-url {
        padding: 1.75em 2em;
    }

    .input-url {
        padding: .75em 1em;
    }

    .input-btn {
        font-size: 1rem;
    }
}