.new-url {
    background-image: url("../../img/bg-shorten-mobile.svg");
    background-color: var(--dark-violet);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    padding: 1em 1.5em;
    border-radius: 8px;
}

.form-new-url {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: .75em;
    width: 100%;
}

.input-url {
    box-sizing: border-box;
    padding: .85em 1em;
    border: none;
    border-radius: 8px;
    margin-bottom: .5em;
}

.input-url--error {
    border: .15em solid var(--red);
}

.input-url--error::placeholder {
    color: var(--red);
}

.input-error {
    display: none;
}

.input-error--active {
    display: block;
    color: var(--red);
    font-size: .85rem;
}

.input-url::placeholder {
    padding-left: 1em;
}

.input-btn {
    width: 100%;
    font-size: .95rem;
}

.list {
    margin: .85em 0;
    box-sizing: border-box;
}

.url-line {
    display: flex;
    flex-direction: column;
    padding: .75em 1.5em;
    background-color: var(--white);
    margin-bottom: .75em;
    border-radius: 8px;
}

.url-line a:first-child {
    border-bottom: .1em solid var(--grayish-violet);
}

.long-url {
    padding-bottom: .75em;
    color: var(--dark-violet);
}

.shrt-url {
    padding: .75em 0;
    color: var(--cyan);
}

.btn-copy {
    background-color: var(--cyan);
    padding: .75em 1.25em;
    border-radius: 5px;
    color: var(--white);
    border: none;
    font-weight: 600;
    font-size: .95rem;
}

.btn-copy:hover {
    cursor: pointer;
    border: .15em solid var(--very-dark-violet);
    color: var(--white);
    opacity: .5;
}

.copied {
    background-color: var(--dark-violet);
}

@media screen and (min-width: 768px) {
    .new-url {
        background-image: url("../../img/bg-shorten-desktop.svg");
        padding: 1.25em 2em;
    }

    .form-new-url {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 70%;
    }

    .input-url {
        margin-bottom: 0;
        padding: 1.25em 1em;
    }

    .input-error--active {
        margin-top: .75em;
    }

    .input-btn {
        width: auto;
    }

    .url-line {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: .75em 2em;
    }

    .url-line a:first-child {
        border-bottom: none;
    }

    .long-url {
        padding: .5em 0;
        margin-right: 3.75em;
    }

    .shrt-url {
        padding: .5em 0;
    }
}

@media screen and (min-width: 1024px) {
    .new-url {
        padding: 1.75em 3em;
    }

    .input-url {
        padding: 1.125em 1em;
    }

    .input-btn {
        font-size: 1rem;
    }

    .url-line {
        padding: .75em 3em;
    }
}