@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/main.css");
@import url("./styles/more-info.css");

:root {
  --main-font: "Poppins", sans-serif;
  /* Primary */

  --cyan: #2acfcf;
  --dark-violet: #3b3054;

  /* Secondary  */

  --red: #f46262;

  /* Neutral */

  --gray: #bfbfbf;
  --grayish-violet: #9e9aa7;
  --very-dark-blue: #35323e;
  --very-dark-violet: #232127;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn-circle {
  background-color: var(--cyan);
  padding: .35em 1.25em;
  border-radius: 17px;
  color: var(--white);
}

.btn-circle:hover {
  opacity: .5;
  border: .15em solid var(--dark-violet);
  color: var(--very-dark-violet);
}

.btn-retng {
  background-color: var(--cyan);
  padding: .35em 1.25em;
  border-radius: 5px;
  color: var(--white);
  border: none;
}

.container {
  background-color: var(--gray);
  padding: 0 1.5em;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 4.75em;
  }
}
